html, body {
	margin: 0px;
	padding: 0px;
	background-color: rgb(50,50,175);
}
h1 {
	display: flex;
	margin: auto;
	margin-top: 1vw;
	width: 100%;
	height: 10vw;
	overflow: hidden;
}
h1 span {
	float: left;
	color: white;
	background: blue;
	display: block;
	text-align: center;
	width: 10vw;
	height: 10vw;
	font-size: 9vw;
	margin-right: 1vw;
	padding: 0;
	box-shadow: 2px 2px #000000;
}
span:first-child {
	margin-left: 1vw;
}
#selector {
	margin: auto;
	width: 90vw;
	margin-top: 3em;
	border-radius: 1em;
	text-align: center;
}
#selector > a {
	display: inline-block;
	margin: 1em;
	font-weight: bold;
	font-size: 4vmin;
	text-decoration: none;
	width: 33vmin;
	background-color: #EEEEEE;
	color: #FF0000;
	padding: 2px 6px 2px 6px;
	//width: 7em;
	border-radius: .2em;
	text-align: center;
	box-shadow: .2vw .1vw #AAAAAA;
}
#logo {
	width:50vmin;
	height: 50vmin;
	margin: auto;
}
